@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 52.8 10% 5%;
    --foreground: 52.8 0% 90%;
    --card: 52.8 0% 0%;
    --card-foreground: 52.8 0% 90%;
    --popover: 52.8 10% 5%;
    --popover-foreground: 52.8 0% 90%;
    --primary: 52.8 98.3% 76.9%;
    --primary-foreground: 0 0% 0%;
    --secondary: 52.8 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 14.799999999999997 10% 15%;
    --muted-foreground: 52.8 0% 60%;
    --accent: 14.799999999999997 10% 15%;
    --accent-foreground: 52.8 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 52.8 0% 90%;
    --border: 52.8 20% 18%;
    --input: 52.8 20% 18%;
    --ring: 52.8 98.3% 76.9%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
