@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://zippystarter.com/tools/shadcn-ui-theme-generator */

@layer base {
  :root {
    --background: 60 10% 5%;
    --foreground: 60 0% 90%;
    --card: 60 0% 0%;
    --card-foreground: 60 0% 90%;
    --popover: 60 10% 5%;
    --popover-foreground: 60 0% 90%;
    --primary: 60 100% 65%;
    --primary-foreground: 0 0% 0%;
    --secondary: 60 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 22 10% 15%;
    --muted-foreground: 60 0% 60%;
    --accent: 22 10% 15%;
    --accent-foreground: 60 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 60 0% 90%;
    --border: 60 20% 18%;
    --input: 60 20% 18%;
    --ring: 60 100% 65%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
